[Unit]
Description=

[Service]
User=nobody
ExecStart=@CMAKE_INSTALL_PREFIX@/bin/dnsfwd --connect-tcp [::1]:53
StandardInput=null
StandardOutput=null
StandardError=journal
RestrictAddressFamilies=AF_INET AF_INET6
ProtectHome=yes
ProtectSystem=full
PrivateDevices=true
PrivateTmp=true
InaccessibleDirectories=/srv
ReadOnlyDirectories=/var /opt
NoNewPrivileges=true
LimitNPROC=1
